[submodule "vendor/bats-core"]
	path = vendor/bats-core
	url = https://github.com/bats-core/bats-core.git
[submodule "vendor/bats-support"]
	path = vendor/bats-support
	url = https://github.com/bats-core/bats-support.git
[submodule "vendor/bats-assert"]
	path = vendor/bats-assert
	url = https://github.com/bats-core/bats-assert.git
[submodule "vendor/bats-file"]
	path = vendor/bats-file
	url = https://github.com/bats-core/bats-file.git
[submodule "vendor/bats-mock"]
	path = vendor/bats-mock
	url = https://github.com/grayhemp/bats-mock.git
